body{
    background-color: #F5F5F5;
    color: #40407A;
    font-family: Verdana, Arial, or sans-serif;
}

header{
    background-color: #80CBC4;
    background-image: url(lilyheader.jpg);
}

footer{
    background-color: #80CBC4;
    font-size:small;
    font-style:italic;
    text-align: center;

}

li dd{ font-size: 90%;}

nav{
    font-style: bold;
    text-align: center;
}
nav a{text-decoration:none;


}

h1{line-height:400%;
}
